@media screen and (max-width: 1600px) {
    .mobile-left {
        left: 370px;
    }

    .mobile-right {
        left: 640px;
    }
}

@media screen and (max-width: 1280px) {
    .mobile-left {
        left: 210px;
    }

    .mobile-right {
        left: 480px;
    }
}

@media screen and (max-width: 1152px) {
    .mobile-left {
        left: 140px;
    }

    .mobile-right {
        left: 410px;
    }

}




@media screen and (max-width: 768px) {

    .links {
        gap: 60px;
    }

    .mobile-left {
        left: -30px;
    }

    .mobile-right {
        left: 220px;
    }

    .hero-text {
        padding: 0 15%;
    }

    .hero-text h1 {
        font-size: 43px;
    }

    .hero-text h4 {
        font-size: 20px;
    }

    .image-icons img {
        width: 540px;
        height: 486px;
    }
}




@media screen and (max-width: 480px) {

    body,
    html {
        overflow-x: hidden !important;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .header {
        height: auto;
        flex-direction: row !important;
        align-items: center;
    }


    .logo img {
        width: 150px;
        height: auto;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .menu {
        display: none
    }

    .links {
        flex-direction: column;
        gap: 20px;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu i {
        font-size: 20px;
        cursor: pointer;
    } */

    .hero {
        height: auto;
        padding: 40px 0;
    }

    .hero-text {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    .hero-text h1 {
        font-size: 28px;
    }

    .hero-text h4 {
        font-size: 18px;
    }

    .hero-btns {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hero-btns .btn {
        /* width: 100%; */
        font-size: 18px;
        width: 180px;
    }

    .image-icons {
        position: relative;
        height: 320px;
        margin: 50px 0;
    }

    .image-icons img {
        width: 400px;
        height: auto;
    }

    .mobile-right {
        left: 125px;
        top: 0;
    }

    .mobile-left {
        left: -50px;
        top: 0;
    }

    /* .mobile-left,
    .mobile-right {
        top: 0;
        left: 0;
    } */

    hr {
        width: 100%;
        border-top: 2px solid #E4E4E4;
    }

    .sec-sec {
        font-size: 28px;
    }

    .createacc {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 10%;
    }

    .createacc .leftimg img {
        width: 100%;
        height: auto;
    }


    .createacc2 {
        flex-direction: column-reverse;
    }



    .content {
        padding: 0 10%;
        text-align: center;
    }

    .app-download {
        height: auto;
        background-color: #252B42;
        padding: 20% 5%;
    }

    .app-content {
        gap: 20px;
    }

    .app-download h1,
    .app-download p {
        font-size: 24px;
    }


    footer {
        flex-direction: column;
        gap: 20px;
        padding: 40px 0;
    }

    footer .logo {
        display: none;
    }

    /* footer .logo img {
        width: 200px;
    } */

    footer .social-icons .bx {
        font-size: 30px;
    }

    footer .copyright {
        font-size: 10px;
    }
}

@media screen and (max-width: 360px) {

    .image-icons {
        height: 180px;
    }

    .image-icons img {
        width: 300px;
    }

    .mobile-left {
        left: -30px;
        top: -90px;
    }

    .mobile-right {
        left: 100px;
        top: -90px;
    }

    .content h2 {
        font-size: 33px;
    }

    .content p {
        font-size: 20px;
    }
}